
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: 'Poppins', sans-serif;
    color: #707070;

}

h1,h2,h3,h4,h5,h6{
    font-family: 'EB Garamond', serif;
    color: #414040;

}

.bg-primary{
    background-color: #B68C5A !important;
}

.bg-primary:hover{
    background-color: #a16c2a !important;
}

.background-image{
    background-image:url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
@media all and (max-width:575px) {
    .background-image{
        background-image:url(../images/banner-sm.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
    }

    .w-sm-100{
        width: 100% !important;
    }
    
}
